.musicbox {
    margin: .4rem;

	.pic-container {
		background-color: rgba($surface_dim, 0.8);
		border-radius: 1.2rem;

		.picbox {
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			min-height: 100px;
			min-width: 370px;
			border-radius: 1.2rem;
			padding: 10px;

            .left {
                color: $on_surface_variant;
                .title {
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                .artist {
                    font-size: 1rem;
                }
                .duration {
                    padding-top: 1.7rem;
                }
                .player {
		        background-color: $inverse_primary;
                border-radius: 10px;
                padding: 0.2rem 0.4rem;

                    margin-top: 1.7rem;
                }
            }
		}

		// i've to make it hidden, so i'll translate it to the INFINITE! LMFAO
		.hidden {
			margin-top: -100px;
		}
	}

	.musiccontrolsbox {
		background-color: $inverse_primary;
		border-radius: 20px;
		padding: 0px 15px;
		font-family: Iosevka Nerd Font;

		.previousbutton,
		.nextbutton {
			font-size: 23px;
		}

		.pausebutton {
			padding: 0px 10px 0px 4px;
		}
	}
}