.notifications-popup-body {
    @include window;
    min-width: 29rem;
    background-color: $primary_container;
    color: $on_primary_container;
    border-radius: 40px 24px 40px 24px;
    padding: 0rem;
}