.quick_settings_button {
    transition: 500ms;
    background-color: $surface_container;
    color: $on_surface;
   border-radius: 112px 84px 56px 28px/28px 56px 84px 112px;
    padding: 0.75rem;
    font-size: 1.05rem;
}

.quick_settings_button:hover {
    background-color: mix($surface_variant, $on_surface_variant, 70%);
}

.quick_settings_button_toggled {
    background-color: $on_primary_fixed_variant;
    color: $inverse_surface;
}

.quick_settings_button_toggled:hover {
    background-color: mix($surface_container, $on_primary_fixed_variant, 70%);
}

.quick_settings_box {
    margin-top: 1rem;
}

.quick-settings-icon {
    font-size: 1.3rem;
}

.quick-settings-info {
    margin-left: 1rem;
}

.quick-settings-state {
    font-size: 0.9rem;
    color: $on_secondary_container;
}

.quick-settings-state-enabled {
    color: $inverse_surface;
}

.left-top-plite {
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.left-bottom-plite {
    margin-right: 0.25rem;
    margin-top: 0.25rem;
}

.right-top-plite {
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
}

.right-bottom-plite {
    margin-left: 0.25rem;
    margin-top: 0.25rem;
}


.user-clock-time {
    font-size: 1.4rem;
}

.title-quick-settings {
    font-size: 1.4rem;
}

.user-clock-separator {
    font-size: 1.4rem;
    margin: 0 0.2rem;
}

.user-clock-date {
    font-size: 1.2rem;
}

.title_settings_box {
    margin-bottom: 0.5rem;
    margin-top: -0.8rem;
}




