

.username {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.uptime {
    color: $on_surface_variant;
    font-size: 1rem;
}

.user-image {
    background-image: url("images/user.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 3rem;
    min-width: 3rem;
    border-radius: 100%;
}

.open-powermenu-button {
    background-color: $on_background;
    font-size: 1.5rem;
    color: $surface;
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 0.35rem 0;
    margin-left: 0.5rem;
    transition: 0.3s;
}

.open-powermenu-button:hover {
    background-color: mix($inverse_primary, $on_background, 70%);
}

.user-clock-time {
    font-size: 1.4rem;
}

.user-clock-separator {
    font-size: 1.4rem;
    margin: 0 0.25rem;
}

.user-clock-date {
    font-size: 1.2rem;
}

.open-settings-button {
    background-color: $on_background;
    color: $surface;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    margin: 0.35rem 0;
    margin-left: 0.5rem;
    transition: 0.3s;
    font-size: 1.2rem;
}

.open-settings-button:hover {
    background-color: mix($on_background, $inverse_primary, 70%);
}