* {
    all: unset;
    font-family: "Fredoka", "Nerd Font";
    //font-weight: lighter;
}
@import "../../.cache/colors/eww.scss";

@import "scss/lib.scss";
@import "scss/powermenu.scss";

@import "scss/control_center.scss";
@import "scss/notifications_popup.scss";

@import "scss/quick_settings.scss";
@import "scss/user.scss";
@import "scss/alert_temp.scss";
@import "scss/volume.scss";
@import "scss/music.scss";
@import "scss/notifications.scss";
@import "bg-panel/bg-panel.scss";




@import "scss/charts.scss";
